.heading-top {
    display: flex;
    justify-content:space-between;
    width: 95%;
    position: fixed;
    margin-left: 18px;
    margin-top: 1px;
    padding: 3px 25px;
    border: 1px solid hsl(340, 95%, 95%);
    border-radius: 25px;
    background-color: hsl(210, 50%, 10%);
    align-items: center;
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  }